<div class="container">
  <div class="row">
    <% @events.each do |e|  %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <% if  e.photo.attached? %>
            <%= image_tag e.photo, class:"card-img-top"%>
          <% else %>
              <%= image_tag "noimage.jpg",class:"card-img-top"%>
          <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= e.title %></h5>
               <p class="card-text"><%= e.description %></p>
                <%= link_to "Ver mas", event_path(e), class:"btn btn-primary" %>

            </div>
        </div>
      </div>
    <% end %>
   </div>
</div>
<div class=" card">

  <div class="">
    <div class="">
      <span class="">
        <span class="">
          <img src="https://imagenes.passline.com/eventos/-491344-rec.jpg" class="" data-slug="campana-de-abonados-trasandino-2025" alt="Campaña de Abonados Trasandino 2025" data-delay="">

        </span>
      </span>
    </div>
      <div class="">
        <div class="">
          <small class="address"><i  class="fa-solid fa-location-dot icon-address"></i> Estadio Regional de Los Andes</small>
          <p class=" description">Campaña de Abonados Trasandino 2025</p>
          <p class=""></p>
          <div class="">
            <div class=" fecha">
              <span class="time_prim">04</span>
              <span class="year">Mar<br>2025</span>
            </div>
            <div class="">
                <span class="time_second">00</span>
                <span class="minute">00<br>hrs</span>
            </div>
        </div>
      </div>
  </div>

</div>
