<div class="container">
  <div class="row">
    <% @events.each do |e|  %>
    <div class="col-4">
      <div class="card mb-5 mt-5">
        <div class="">
          <div class="">
            <span class="">
              <span class="">
                <% if e.photo.attached? %>
                  <%= image_tag e.photo, class:"card-img-top image"%>
                <% else %>
                  <%= image_tag "noimage.jpg",class:"card-img-top image"%>
                <% end %>
              </span>
            </span>
          </div>
          <div class="">
            <div class="">
              <small class="address"><i  class="fa-solid fa-location-dot icon-address"></i><%= e.address %></small>
              <p class=" description"><%= e.title %></p>
              <p class=""><%= e.description %> </p>
              <div class="time">
                <div class="fecha">
                  <span class="time_prim"><%= e.event_date.day %></span>
                  <div class="month">
                    <span class="year"><%= e.event_date.month %><br><%= e.event_date.year %></span>
                  </div>
                </div>
                <span class="pipeline">|</span>
                <div class="fecha">
                    <span class="time_prim"><%= e.event_time.hour %></span>
                    <span class="year"><%#= e.event_time.minute %><br>hrs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <% end %>
  </div>
</div>
